// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.btn-custom {
  background-color: #198133;
  color: white;
  border: none;
}

.cta-inline {
  display: flex;
  justify-content: flex-end;
  gap: 10px; /* 按鈕間距 */
}

.page-title {
  font-size: 20px;
}
